
body{
  height: 100vh;
  background-color: $light-blue;
  display: flex;
  align-items: center;
  justify-self: center;
  .card{
    display: flex;
    flex-direction: column;

    background-color: white;
    width: 90%;

    border-radius: 1rem;

    margin: auto;
    margin-top: 4em;
    margin-bottom: 4em;
    .card__image{
      height: 18.88rem;
      overflow:hidden;

    }
    .card__image img{
      width: 100%;
      max-height: 30rem ;
      border-radius: 1rem 1rem 0px 0px;
    }
    .card__content{
      padding-top: 3rem;
      padding-bottom: 1.625rem;
      padding-inline:2.187rem ;
      .card__text h2{
        display: block;
        color: $very-dark-blue;
        font-size: 1.4rem;
        padding-bottom: 1.8125rem;
        line-height: 1.2;
        letter-spacing: .03rem;
      }
      .card__text p{
        font-size: 1rem;
        color: $desaturated-dark-blue;
        padding-bottom: 1rem;
        line-height: 1.5;
      }
      .card__profile{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items:center;
        padding-top: 1.6rem;
        &.hide{
          display: none;
        }
        .card__profile__content{
          display: flex;
          align-items: center;
          justify-content: center;
          .card__profile__img img{
            border-radius: 100%;
            padding-right: 1rem;
  
            width: 5rem;
          }
          .card__profile__text h4{
            color: $very-dark-blue;
            font-size: 1.2rem;
          }
          .card__profile__text p{
            color: $grayish-blue;
            font-size: 1rem;
          }

        }
        .card__profile__share{
          width: 2.25rem;
          height: 2.25rem;
          background-color: $light-blue;
          border-radius: 50%;

          display: flex;
          justify-content: center;
          align-items: center;

          margin-top: 1.5rem;

          &:hover{
            filter: brightness(0.9);
          }

          }
        }
        .card__profile__share button{
          width: 2.25rem;
          height: 2.25rem;
          background-color: transparent;
          border: none;
          cursor: pointer;


        }
        .card__profile__share.hide{
          display: none;
        }
      }


      }
      .social-media{
        display: flex;
        justify-content: flex-start;
        align-items: center;

        position: relative;

        background-color: $very-dark-blue;

        padding-inline: 2.31rem;    
        padding-block: 1rem ;
        width: 100%;    

        border-radius: 0px 0px 1rem 1rem;

        //transform: translateY(-105px);
        

        &.hide{
          display: none;
        }
        h4{
          text-transform: uppercase;
          letter-spacing: .5rem;
          font-size: 1rem;

          font-weight: 200;
          color: $light-blue;
        }
        .social-media__list{
          list-style: none;
          display: flex;
          gap: 1.7rem;
          align-items: center;
          justify-content: flex-start;

        }
        .social-media__list img{
          width: 2rem;
        }

        .card__social-media__share{
          justify-self: flex-end;

        }

        .card__social-media__share button {
          width: 2.25rem;
          height: 2.25rem;
          border-radius: 50% ;
          background-color: $desaturated-dark-blue;
          border: none;
          cursor: pointer;

          position: absolute;

          top: 27px;
          right: 35px;
          .shareSvg path{
            fill: $light-blue;
          }
          }
        }
      }
    
  




